@import url(styleA.css);

@font-face {
    font-family: 'TTLakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


/* CSS переменные */
:root {
    --divider: #EAEAEA;
    --accent: #41F6D7;
    --hover: #27AE60;
    --text-secondary: #666;
    --header-bg: #ffffff;
    --main-bg: rgb(248, 248, 248);
    --text-nav: rgb(126, 126, 130);
    --mine-text: rgb(27, 28, 33);
    --swiper-theme-color: rgb(126, 126, 130);
    --swiper-theme-color-active: rgb(126, 126, 130);
    --swiper-pagination-color: rgb(126, 126, 130);
}

/* Базовые стили */
HTML {

    background-color: var(--main-bg);
}



.aside__burger-menu {
    display: none;
}

/* Шапка */
.header {
    height: 88px;
    padding: 0;
    background-color: var(--header-bg);
    width: 100%;
    min-width: 280px;
    box-sizing: border-box;

}

.icon {
    width: 40px;
    height: 40px;
}

.header__logo {
    width: 97px;
    height: 51px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    margin-bottom: 0;


}

.header__left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__divider {
    width: 2px;
    height: 32px;
    background: var(--divider);
}

.header__nav-item--middle {
    display: none;

}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;

}

.header__nav-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.header__nav-btn span {
    display: none;
}

/* Основное меню */
.srange-nav-wrapper--max {
    display: none;
}

.header-menu__wrapper {
    position: relative;
    overflow-x: auto;
    scrollbar-width: none;

}

.header-menu__wrapper::-webkit-scrollbar {
    display: none;
}

.header-menu__wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background: linear-gradient(to left, #fff, transparent);
    pointer-events: none;
}

.header-menu__list {
    display: flex;
    gap: 32px;
    margin: 0;
    list-style: none;
    padding: 10px;
    justify-content: space-around;

}



.header-menu__link {
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.2s;
    color: var(--text-nav);
    font-family: TTLakes;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;

}

.header-menu__link:hover {
    color: var(--hover);
}

.header-menu__list li:first-child .header-menu__link {
    border: 2px solid var(--accent);
    border-radius: 5px;
    background-color: var(--header-bg);
    padding: 8px 22px;
}

/* Основной контент */
.main {
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 24px;
    font-size: 14px;
    width: 100%;
    min-width: 300px;
    box-sizing: border-box;
}

.main__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;


}

.main__title {
    font-family: 'TTLakes';
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 0px;
    padding-left: 14px;
    position: relative;
}

.main__title--min {
    font-family: 'TTLakes';
    font-size: 28px;
    font-weight: 700;
    color: var(--mine-text);
    padding-left: 14px;
    position: relative;
    border-left: 4px solid var(--accent);
    border-radius: 5px;
}

.main__title::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    border-left: 4px solid var(--accent);
    border-radius: 5px;
}

.main__title-min::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    border-left: 4px solid var(--accent);
    border-radius: 5px;
}

.main__text,
.main__text--secondary {
    color: var(--mine-text);
    font-family: 'TTLakes';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
}

.main__text--secondary {
    display: none;
}

.main__readmore {
    display: flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.next {
    color: var(--mine-text);
    font-family: 'TTLakes';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
}

.main__content {
    display: flex;
    gap: 36px;
    flex-direction: column;
    padding-left: 25px;
}

.main__image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
}

/*БРЕНДЫ*/
.brands--max {
    display: none;

}

.brands--midl {
    display: none;
}

.brands__list-wrapper {
    position: relative;
    overflow-x: auto;
    scrollbar-width: none;
}

.brands__list {

    display: flex;
    gap: 16px;
}

.brands__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 72px;
    padding: 0 25px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}


.brands__h2 {

    height: 56px;
    padding-left: 32px;
    background: linear-gradient(270deg, #F8F8F8, #FFFFFF 100%);

    font-size: 16px;
    font-weight: 400;
    font-family: "TTLakes";
    color: var(--text-nav);

}


/*СВАЙПЕР*/

.brands--min {
    overflow: hidden;
    width: 100%;
}

.brandsSwiper {
    max-width: 100vw;
    overflow: hidden;
}

.swiper-wrapper {
    box-sizing: border-box;
}

.swiper-slide {
    max-width: 100%;
}

.swiper-pagination-container {
    position: absolute;
    width: 100%;
    max-width: 100vw;

}

.brands-section {
    position: relative;
    width: 100%;
    max-width: 1200px;
}


.brands-section__h2 {

    color: rgba(126, 126, 130, 1);
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    text-transform: uppercase;

}

/* Контейнер Swiper */
.swiper {
    width: 100%;
    padding: 20px 0 60px 0;
    /* Отступ снизу для пагинации */
}


/* Слайды */
.swiper-slide {
    width: 240px !important;
    /* Фиксированная ширина */
    height: 72px !important;
    /* Фиксированная высота */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Карточка бренда */
.brands__card {
    width: 240px;
    height: 72px;



    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    
    box-sizing: border-box;
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
}

.brands__card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Логотип бренда */
.brands__card img:first-child {
    max-height: 32px;
    max-width: 120px;
    object-fit: contain;
}

/* Стрелка перехода */
.brands__card img:last-child {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.brands__card:hover img:last-child {
    opacity: 1;
}

/* Контейнер для пагинации */
.swiper-pagination-container {
    position: relative;
    top: 50px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

/* Точки пагинации */
.swiper-pagination {

    bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background-color: #DDDDDD;
    opacity: 1;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    width: 12px !important;
    height: 12px !important;
    background-color: rgba(181, 182, 188, 1);
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .brands__list-wrapper {
        padding: 0 30px;
    }



    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}



/* Адаптив */
@media (min-width: 768px) {
    body {
        margin-right: 16px;
    }

    .header__nav-item--desktop {
        display: none;

    }

    .main {
        gap: 24px;
    }

    .header__nav-item--middle {
        display: inline;
    }

    .header__container {
        margin: 24px;
        margin-bottom: 0;
    }

    .main__container {
        flex-direction: row;
        gap: 20px;
        width: -webkit-fill-available;
    }

    .main__content {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        gap: 14px;


    }

    .main__image-wrapper {
        flex: 1;
        max-width: 50%;
    }

    .main__text--secondary {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        position: relative;
        overflow-y: auto;
        scrollbar-width: none;
        color: var(--mine-text);
        font-weight: 400;
    }

    .brands--min {
        display: none;
    }

    .brands--max {
        display: none;
    }

    .brands--midl {
        display: block;

    }

    /*Бренды*/
    .main__readmore {

        height: 24px;
    }

    .brands__wrapper {
        padding: 25px;
    }

    .hidden {
        display: none !important;
    }

    .brands__list {
        display: flex;
        flex-direction: column;
        gap: 16px;

    }

    .brands__h2 {

        display: flex;

        flex-direction: row;
        align-items: center;






    }

    .brands__container,
    .brands__container--bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        padding-bottom: 0;
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .brands__container--bottom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        padding-top: 0;
        row-gap: 16px;



    }

    .brands__item {
        min-width: 240px;
        min-height: 72px;
    }



    .brands__card:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        transform: translateY(-2px);
    }

    .brands__card img:first-child {
        max-height: 40px;
        max-width: 120px;
        object-fit: contain;
    }




}

@media (max-width: 1119px) {
    .brands__item:nth-child(n+7) {
        display: none;
        opacity: 0;
        transform: scale(0.95);
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
        pointer-events: none;
    }
}


@media (min-width: 1120px) {

    .header,
    .main__title--min {
        display: none;
    }

    .conteiner {
        display: grid;
        grid-template-columns: minmax(320px, auto) 1fr;

        height: 100vh;

    }

  
    .aside__burger-menu {
        display: block;
        min-width: 320px;
    }

    .aside__burger-menu {
        display: flex;
        flex-direction: column;
        gap: var(--gap-footer);
        width: var(--size-menu-width);
        height: var(--size-menu-height);
        z-index: 10;
        background-color: var(--color-white);
        width: 320px;
        padding: 0 var(--gap-xlarge);

    }

    .main {

        gap: 24px;
    }

    .main__content {
        gap: 24px;
        padding-left: 32px;
    }

    .main__container {
        gap: 36px;
    }

    .srange-nav-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        padding: 0 16px;
    }

    .srange-nav-wrapper-list {
        display: flex;
        gap: 20px;
    }

    .srange-nav-wrapper--max {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;

    }

    .srange-nav-wrapper--max span {
        display: inline;
        color: var(--mine-text);
        margin-right: 8px;
        font-family: 'TTLakes';
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: right;
    }




    .main__text--secondary {
        white-space: normal;
        overflow: visible;
    }

    .header-menu__wrapper::after {
        display: none;
    }

    /*БРЕНДЫ*/


    .brands--min {
        display: none;
    }

    .brands--max {
        display: block;

    }

    .brands--midl {
        display: none;
    }

    .brands__list {
        display: flex;
        flex-direction: column;
        gap: 16px;

    }

    .brands__h2 {
        width: 1120px;
        height: 56px;
        padding-left: 32px;






    }

    .brands__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
        row-gap: 16px;
        column-gap: 35px;
        margin: 0;
      



    }

    .brands__container--bottom--max {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        list-style: none;
        row-gap: 16px;
        column-gap: 35px;
        margin: 0;
        flex-direction: row;
        flex-wrap: wrap;


    }

    .brands__item {
        min-width: 240px;
        min-height: 72px;
    }

    .brands__card {
        display: flex;
        align-items: center;
        
        width: 100%;
        height: 100%;

        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        box-sizing: border-box;
        transition: all 0.3s ease;
    }



    .brands__card img:first-child {
        max-height: 40px;
        max-width: 120px;
        object-fit: contain;
    }

    .colum-4 {
        display: inline;
    }

    .colum-non {
        visibility: hidden;
    }

    .ButtonMax {
        padding: 20px;
        padding-left: 0;
    }

}

@media (max-width: 767px) {
    .main__image {
        border-radius: 0;
    }


}